<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script/ResizeSensor.js"></script>
    <script src="script/ElementQueries.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="JavaScript.js"></script>
    <title>Проект</title>
</head>

<body>

    <span class="FormOverlay">
        <div id="form-overlay">
            <h1 style="text-align: center; font-size: 22px; margin-top: 15px; color: white; margin-bottom: 20px;">
                Заполните форму</h1>
            <form name="form-overlay" id="app" @submit="checkForm" action="https://formcarry.com/s/q658vtPcl"
                method="POST" accept-charset="UTF-8"
                style="width: calc(25vw - 40px); height: 100%; margin-left: calc(7vw);">
                <p id="errors" v-if="errors.length" style="color: white; margin-top: 0px; margin-bottom: 10px;">
                    <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul style="color: rgb(75, 93, 252); margin-top: 0px;">
                    <li v-for="error in errors" style="margin-bottom: 0px;">{{ error }}</li>
                </ul>
                </p>
                <p id="mess_good" style="color: greenyellow; text-align: center;">Ваше сообщение удачно отправлено!</p>
                <p id="mess_error" style="color: rgb(255, 0, 0); text-align: center;">Ваше сообщение не отправлено.
                    Попробуйте ещё раз!</p>

                <p style="margin-bottom: 0px; margin-top: 0px;">
                    <input id="form_2_name" type="text" name="name" v-model="name" placeholder="Ваше имя" maxlength="35"
                        style="width: calc(25vw - 40px);
               font-size: 17px; padding: 5px 20px; margin-bottom: 7px; border: 1px solid rgba(256, 256, 256, 0.3); border-radius: 5px;
                line-height: 1.2; height: 36px; background-color: rgb(121, 135,146,0); color: white; border: 1px solid rgba(256, 256, 256, 0.3);">
                </p>

                <p style="margin-top: 0px; margin-bottom: 0px;">
                    <input id="number_polz" type="text" name="number" v-model="number" placeholder="Телефон"
                        maxlength="15"
                        style="width: calc(25vw - 40px);
               font-size: 17px; padding: 5px 20px; margin-bottom: 7px; border: 1px solid rgba(256, 256, 256, 0.3); border-radius: 5px; line-height: 1.2;
                height: 36px; background-color: rgb(121, 135,146,0); color: white; border: 1px solid rgba(256, 256, 256, 0.3);">
                </p>

                <p style="margin-top: 0px; margin-bottom: 0px;">
                    <input id="email_polz" type="email" name="email" v-model="email" placeholder="E-mail" style="width: calc(25vw - 40px); font-size: 17px;
               padding: 5px 20px; margin-bottom: 7px; border: 1px solid rgba(256, 256, 256, 0.3); border-radius: 5px; line-height: 1.2; height: 36px;
                background-color: rgb(121, 135,146,0); color: white; border: 1px solid rgba(256, 256, 256, 0.3);">
                </p>

                <p style="margin-top: 0px; margin-bottom: 0px;">
                    <textarea id="message_polz" name="message" v-model="message" placeholder="Ваш коментарий"
                        style="width: calc(25vw - 40px);
               font-size: 18px; padding: 15px 20px; margin-bottom: 7px; border: 1px solid rgba(256, 256, 256, 0.3); border-radius: 5px; line-height: 1.2;
                height: 150px; background-color: rgb(121, 135,146,0); color: white; border: 1px solid rgba(256, 256, 256, 0.3); resize: none;"></textarea>
                </p>

                <div style="display: flex; flex-direction: row; font-size: 13px;">
                    <div style="margin-right: 5px;">
                        <input id="checkbox_polz" type="checkbox" v-model="checkbox" name="checkbox" style="vertical-align: top; height: 20px;
                   width: 20px; font-size: 17px; margin-bottom: 7px; border: 1px solid rgba(256, 256, 256, 0.3); border-radius: 5px; line-height: 1.2;
                    background-color: rgb(121, 135,146,0); color: white; border: 1px solid rgba(256, 256, 256, 0.3);">
                    </div>
                    <div>
                        <label style="color: rgb(121, 135,146); width: 200px;"> Отправляя заявку, я даю согласие на <a
                                style="color: red;">обработку своих персональных данных</a>.</label>
                    </div>
                </div>

                <p style="text-align: center;">
                    <input id="Lete" type="submit" value="Отправить"
                        style="background-color: rgb(241, 77,52); color: white; width: 25vw;
               font-size: 17px; margin-bottom: 7px; border: 1px solid rgba(256, 256, 256, 0.3); border-radius: 5px; border: 1px solid rgba(256, 256, 256, 0.3);">
                </p>
            </form>
        </div>
    </span>

    <button id="overlay_btn">Заполнить форму</button>

    <div class="mobile-menu" style="position: fixed; z-index: 15; bottom: 0;">
        <div class="click-menu-mobile" id="click-menu-mobile">
            <div id="sup-drupal-mobile" class="poz-mobile" style="color:rgb(254, 59, 29)">
                ПОДДЕРЖКА DRUPAL
            </div>
            <div id="Admin-mobile" class="poz-mobile">
                АДМИНИСТРИРОВАНИЕ <img src="img/angle-small-down.svg" alt="angle-small-down" style="width: 15px;">
            </div>
            <div id="Admin-menu-mobile">
                <div class="Admin-menu-mobile poz-mobile">МИГАРЦИЯ</div>
                <div class="Admin-menu-mobile poz-mobile">БЭКАПЫ</div>
                <div class="Admin-menu-mobile poz-mobile">АУДИТ БЕЗОПАСНОСТИ</div>
                <div class="Admin-menu-mobile poz-mobile">ОТПИМИЗАЦИЯ СКОРОСТИ</div>
                <div class="Admin-menu-mobile poz-mobile">ПЕРЕЕЗД НА HTTPS</div>
            </div>
            <div class="poz-mobile" id="Prodvig-mobile">
                ПРОДВИЖЕНИЕ
            </div>
            <div class="poz-mobile" id="Advertise-mobile">
                РЕКЛАМА
            </div>
            <div id="About-mobile" class="poz-mobile">
                О НАС <img src="img/angle-small-down.svg" alt="angle-small-down" style="width: 15px">
            </div>
            <div id="About-menu-mobile">
                <div class="About-menu-mobile poz-mobile">КОМАНДА</div>
                <div class="About-menu-mobile poz-mobile">DRUPALGIVE</div>
                <div class="About-menu-mobile poz-mobile">БЛОГ</div>
                <div class="About-menu-mobile poz-mobile">КУРСЫ DRUPAL</div>
            </div>
            <div id="Projects-mobile" class="poz-mobile">
                ПРОЕКТЫ
            </div>
            <div id="Contacts-mobile" class="poz-mobile">
                КОНТАКТЫ
            </div>
        </div>

        <div style="height: 50px;">
            <div style="width: 50%;float:left;max-height: 100%;height: 100%;display: flex;justify-content: center;">
                <img src="img/drupal-coder.svg" alt="drupal" style="max-width: 100%;">
            </div>
            <div style="width: 50%;display: flex;justify-content: center;height: 100%;">
                <img id="click-mob-menu" src="img/mobile-menu.svg" style="width:25px; margin-left: calc(100% - 50px);"
                    alt="menu">
            </div>
        </div>
    </div>

    <header class="fullscreen-bg">
        <div class="overlay">
            <div class="menu">
                <div id="Drupal">
                    <img src="img/drupal-coder.svg" alt="drupal">
                </div>
                <div id="sup-drupal">
                    ПОДДЕРЖКА DRUPAL
                </div>
                <div id="Admin" style="position: relative;">
                    <span id="Admin-text">АДМИНИСТРИРОВАНИЕ</span> <img src="img/angle-small-down.svg"
                        alt="angle-small-down" style="width: 15px;">
                    <div id="Admin-menu">
                        <div class="Admin-menu">МИГАРЦИЯ</div>
                        <div class="Admin-menu">БЭКАПЫ</div>
                        <div class="Admin-menu">АУДИТ БЕЗОПАСНОСТИ</div>
                        <div class="Admin-menu">ОТПИМИЗАЦИЯ СКОРОСТИ</div>
                        <div class="Admin-menu">ПЕРЕЕЗД НА HTTPS</div>
                    </div>
                </div>
                <div id="Prodvig">
                    ПРОДВИЖЕНИЕ
                </div>
                <div id="Advertise">
                    РЕКЛАМА
                </div>
                <div id="About" style="position: relative;">
                    О НАС <img src="img/angle-small-down.svg" alt="angle-small-down" style="width: 15px">
                    <div id="About-menu">
                        <div class="About-menu">КОМАНДА</div>
                        <div class="About-menu">DRUPALGIVE</div>
                        <div class="About-menu">БЛОГ</div>
                        <div class="About-menu">КУРСЫ DRUPAL</div>
                    </div>
                </div>
                <div id="Projects">
                    ПРОЕКТЫ
                </div>
                <div id="Contacts">
                    КОНТАКТЫ
                </div>

            </div>
            <div class="menu_2">
                <div class="menu_info">
                    <h1 style="font-size: 6vh;">Поддержка<br> сайтов на Drupal</h1>
                    <p style="color: rgb(189, 192, 185);">Сопровождение и поддержка сайтов<br> на CMS Drupal любых
                        версий и запущенности</p>
                    <div id="tarif">ТАРИФЫ</div>
                </div>
                <div class="exp_menu">
                    <div style="display: flex;">
                        <div class="exp" id="exp_1">
                            <h1 style="font-size: 55px;">#1<img style="width: 75px;" src="img/cup.png" alt="cup"></h1>
                            <span style="color: rgb(189, 192, 185);">Drupal-разработчик в России по версии Рейтинга
                                Рунета</span>
                        </div>
                        <div class="exp" id="exp_2">
                            <h1>3+</h1> <span style="color: rgb(189, 192, 185);">средний опыт специалистов более 3
                                лет</span>
                        </div>
                        <div class="exp" id="exp_3">
                            <h1>14</h1> <span style="color: rgb(189, 192, 185);">лет опыта в сфере Drupal</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="exp" id="exp_4">
                            <h1>50+</h1> <span style="color: rgb(189, 192, 185);">модулей и тем в формате
                                DrupalGive</span>
                        </div>
                        <div class="exp" id="exp_5">
                            <h1>90 000+</h1> <span style="color: rgb(189, 192, 185);">часов поддержки сайтов на
                                Drupal</span>
                        </div>
                        <div class="exp" id="exp_6">
                            <h1>300+</h1> <span style="color: rgb(189, 192, 185);">Проектов на поддержке</span>
                        </div>
                    </div>
                </div>
                <div class="exp_menu_mobile">
                    <div style="display: flex;">
                        <div class="exp" id="exp_1_m">
                            <h1 style="font-size: 55px;">#1<img style="width: 75px;" src="img/cup.png" alt="cup"></h1>
                            <span style="color: rgb(189, 192, 185);">Drupal-разработчик в России по версии Рейтинга
                                Рунета</span>
                        </div>
                        <div class="exp" id="exp_2_m">
                            <h1>3+</h1> <span style="color: rgb(189, 192, 185);">средний опыт специалистов более 3
                                лет</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="exp" id="exp_3_m">
                            <h1>14</h1> <span style="color: rgb(189, 192, 185);">лет опыта в сфере Drupal</span>
                        </div>
                        <div class="exp" id="exp_4_m">
                            <h1>50+</h1> <span style="color: rgb(189, 192, 185);">модулей и тем в формате
                                DrupalGive</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="exp" id="exp_5_m">
                            <h1>90 000+</h1> <span style="color: rgb(189, 192, 185);">часов поддержки сайтов на
                                Drupal</span>
                        </div>
                        <div class="exp" id="exp_6_m">
                            <h1>300+</h1> <span style="color: rgb(189, 192, 185);">Проектов на поддержке</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <video autoplay="" loop="" muted="" class="fullscreen-bg__video">
            <source src="img/video.mp4" type="video/mp4">
        </video>
    </header>

    <div class="competency">
        <div class="content_wid">
            <div class="text-com">
                <h1 id="h1_com" style="color: rgb(4,12,55);">
                    13 лет совершенствуем компетенции в Друпал поддержке!
                </h1>
                <p id="p_new">Разрабатываем и оптимизируем модули, расширяем функциональность сайтов, обновляем дизайн
                </p>
            </div>
            <div class="com">
                <div style="display: flex;">
                    <div class="competency_img"><img src="img/competency-1.svg" alt="competency-1">
                        <p>Добавление информации на сайт, создание новых разделов</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-2.svg" alt="competency-2">
                        <p>Разработка и оптимизация модулей сайта</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-3.svg" alt="competency-3">
                        <p>Интеграция с CRM, 1C, платежными системами, любыми веб-сервисами</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-4.svg" alt="competency-4">
                        <p>Любые доработки функционала и дизайна</p>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="competency_img"><img src="img/competency-5.svg" alt="competency-5">
                        <p>Аудит и мониторинг безопасности Drupal сайтов</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-6.svg" alt="competency-6">
                        <p>Миграция, импорт контента и апгрейд Drupal</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-7.svg" alt="competency-7">
                        <p>Оптимизация и ускорение Drupal-сайтов</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-8.svg" alt="competency-8">
                        <p>Веб-маркетинг, консультации и работы по SEO</p>
                    </div>
                </div>
            </div>
            <div class="com-mobile">
                <div style="display: flex;">
                    <div class="competency_img"><img src="img/competency-1.svg" alt="competency-1">
                        <p>Добавление информации на сайт, создание новых разделов</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-2.svg" alt="competency-2">
                        <p>Разработка и оптимизация модулей сайта</p>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="competency_img"><img src="img/competency-3.svg" alt="competency-3">
                        <p>Интеграция с CRM, 1C, платежными системами, любыми веб-сервисами</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-4.svg" alt="competency-4">
                        <p>Любые доработки функционала и дизайна</p>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="competency_img"><img src="img/competency-5.svg" alt="competency-5">
                        <p>Аудит и мониторинг безопасности Drupal сайтов</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-6.svg" alt="competency-6">
                        <p>Миграция, импорт контента и апгрейд Drupal</p>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="competency_img"><img src="img/competency-7.svg" alt="competency-7">
                        <p>Оптимизация и ускорение Drupal-сайтов</p>
                    </div>
                    <div class="competency_img"><img src="img/competency-8.svg" alt="competency-8">
                        <p>Веб-маркетинг, консультации и работы по SEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="exp-drupal">
        <div class="pod-drupal-flex" style="height: 50%;">
            <h1 style="width: 450px; text-align: center; color: rgb(4,12,55); max-width: fit-content;">
                Поддержка<br> от Drupal-coder
            </h1>
            <div class="pod-drupal-flex-img">
                <div id="pod-support1" class="pod-support">
                    <p class="color-grey">
                        01.
                    </p>
                    <h2 class="color-blue">
                        Постановка задачи по Email
                    </h2>
                    <p class="color-grey">
                        Удобная и привычная модель постановки задач, при которой задачи фиксируются и никогда не
                        теряются.
                    </p>

                </div>
                <div id="pod-support2" class="pod-support">
                    <p class="color-grey">
                        02.
                    </p>
                    <h2 class="color-blue">
                        Система Helpdesk - отчётность, прозрачность
                    </h2>
                    <p class="color-grey">
                        Возможность посмотреть все заявки в работе и отработанные часы в личном кабинете через браузер.
                    </p>

                </div>
                <div id="pod-support3" class="pod-support">
                    <p class="color-grey">
                        03.
                    </p>
                    <h2 class="color-blue">
                        Расширенная техническая поддержка
                    </h2>
                    <p class="color-grey">
                        Возможность организации расширенной техподдержки с 6:00 до 22:00 без выходных.
                    </p>

                </div>
                <div id="pod-support4" class="pod-support">
                    <p class="color-grey">
                        04.
                    </p>
                    <h2 class="color-blue">
                        Персональный менеджер проекта
                    </h2>
                    <p class="color-grey">
                        Ваш менеджер проекта всегда в курсе текущего состояния проекта и в любой момент готов ответить
                        на любые вопросы.
                    </p>
                </div>
            </div>
            <div class="pod-drupal-flex-img">
                <div id="pod-support5" class="pod-support">
                    <p class="color-grey">
                        05.
                    </p>
                    <h2 class="color-blue">
                        Удобные способы оплаты
                    </h2>
                    <p class="color-grey">
                        Безналичный рассчёт по договору или электронные деньги: WebMoney, Яндекс.Деньги, Paypal.
                    </p>

                </div>
                <div id="pod-support6" class="pod-support">
                    <p class="color-grey">
                        06.
                    </p>
                    <h2 class="color-blue">
                        Работаем с SLA и NDA
                    </h2>
                    <p class="color-grey">
                        Работа в рамках соглашений о конфиденциальности и об уровне работ.
                    </p>

                </div>
                <div id="pod-support7" class="pod-support">
                    <p class="color-grey">
                        07.
                    </p>
                    <h2 class="color-blue">
                        Штатные специалисты
                    </h2>
                    <p class="color-grey">
                        Надёжные штатные специалисты, никаких фрилансеров.
                    </p>

                </div>
                <div id="pod-support8" class="pod-support">
                    <p class="color-grey">
                        08.
                    </p>
                    <h2 class="color-blue">
                        Удобные каналы связи
                    </h2>
                    <p class="color-grey">
                        Консультации по телефону, скайпу, в месенджерах.
                    </p>

                </div>
            </div>
        </div>

        <div class="exp-with-lap">
            <img style="transform: translateY(15%); max-width: 50%;" src="img/laptop.png" alt="laptop">
            <div style="max-width: 50%;  overflow: hidden;">
                <h1 style="color: white;width: 542px;font-size: 40px;max-width: 100%;">Экспертиза в Drupal, опыт 14 лет!
                </h1>
                <div style="max-width: 100%;">
                    <div style="display: flex;max-width: 100%; max-height: 50%;">
                        <div class="exp_new" style="width: 271px;max-width: 50%;">Только системный подход - контроль
                            версий, резервирование и тестирование!</div>
                        <div class="exp_new" style="width: 271px;max-width: calc(50% - 140px);">Только Drupal сайты, не
                            берём на поддержку сайты на других CMS!</div>
                    </div>
                    <div style="display: flex;max-width: 100%; max-height: 50%;">
                        <div class="exp_new" style="width: 271px;max-width: 50%;">Участвуем в разработке ядра Drupal и
                            модулей на Drupal.org, разрабатываем <span style="color: rgb(254, 59, 29)">свои модули
                                Drupal</span></div>
                        <div class="exp_new" style="width: 271px;max-width: calc(50% - 140px);">Поддерживаем сайты на
                            Drupal 5, 6, 7 и 8</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="exp-with-lap-mobile">

            <div class="exp-with-lap-mobile-info">
                <h1 style="color: white; width: 542px;font-size: 40px; max-width: fit-content;">Экспертиза в Drupal,
                    опыт 14 лет!</h1>
                <div style="max-width: 100%;">
                    <div class="exp_new">Только системный подход - контроль версий, резервирование и тестирование!</div>
                    <div class="exp_new">Только Drupal сайты, не берём на поддержку сайты на других CMS!</div>
                    <div class="exp_new">Участвуем в разработке ядра Drupal и модулей на Drupal.org, разрабатываем <span
                            style="color: rgb(254, 59, 29)">свои модули Drupal</span></div>
                    <div class="exp_new">Поддерживаем сайты на Drupal 5, 6, 7 и 8</div>
                </div>
            </div>
            <img style="transform: translateY(15%); max-width: 50%;" src="img/laptop.png" alt="laptop">
        </div>
    </div>

    <div id="Rate"
        style="overflow: hidden; width: 100%; height: 700px; margin-bottom: 60px;  background: url(img/Снимок\ экрана\ \(37\).png) no-repeat right; background-size: 40%;">
        <div>
            <h1 style="text-align: center; background: rgba(255,255,255,0.2);">Тарифы</h1>
        </div>
        <div class="heading" style="width: 1100px; margin: auto; margin-top: 30px; margin-bottom: 50px;">
            <div class="container">
                <div class="ui-card"
                    style="width: 600px; height: 430px; background: white; border: 1px solid rgb(126, 125, 125); border-radius: 5px;">
                    <div
                        style="padding: 40px; padding-bottom: 0px; padding-left: 0px; font-size: 10px; border-bottom: 2px solid rgb(175, 164, 164); width: 75%; margin: auto; color: rgb(241, 77,52);">
                        <h1>Стартовый</h1>
                    </div>
                    <div class="List" style="width: 100%; margin:auto; padding-left: 20px; margin-top: 35px;">
                        <ul
                            style="margin-left: 0px; padding-left: 0px; text-align: left; color:rgb(124, 123, 123); margin-bottom: 25px;">
                            <li><b>Консультации и работы по SEO</b></li>
                            <li><b>Услуги дизайнера</b></li>
                            <li><b>Неиспользованные<br>
                                    <span style="padding-left: 26px;">оплаченные часы переносятся<br></span>
                                    <span style="padding-left: 26px;">на следующий месяц</span></b>
                            </li>
                            <li><b>Предоплата от 6 000 рублей в<br>
                                    <span style="padding-left: 26px;">месяц</span></b></li>
                        </ul>
                        <div style="padding-left: 25px; width: 250px; border-radius: 5px;">
                            <button id="but_1"
                                style="height: 40px; width: 250px; background: white; color: rgb(241, 77,52); border: 1px solid rgb(241, 77,52);">СВЯЖИТЕСЬ
                                С НАМИ!</button>
                        </div>
                    </div>
                </div>
                <div class="ui-card"
                    style="width: 600px; height: 490px; background: white; border: 1px solid rgb(126, 125, 125); border-radius: 5px;">
                    <div
                        style="padding: 40px; padding-bottom: 0px; padding-left: 0px; font-size: 10px; border-bottom: 2px solid rgb(175, 164, 164); width: 75%; margin: auto; color: rgb(241, 77,52);">
                        <h1>Бизнес</h1>
                    </div>
                    <div class="List" style="width: 100%; margin:auto; padding-left: 20px; margin-top: 35px;">
                        <ul
                            style="margin-left: 0px; padding-left: 0px; text-align: left; color:rgb(124, 123, 123); margin-bottom: 35px;">
                            <li><b>Консультации и работы по SEO</b></li>
                            <li><b>Услуги дизайнера</b></li>
                            <li><b>Высокое время реакции - до 2<br>
                                    <span style="padding-left: 26px;">рабочих дней</span></b></li>
                            <li><b>Неиспользованные<br>
                                    <span style="padding-left: 26px;">оплаченные часы не<br></span>
                                    <span style="padding-left: 26px;">переносятся</span></b>
                            </li>
                            <li><b>Предоплата от 30 000 рублей в<br>
                                    <span style="padding-left: 26px;">месяц</span></b></li>
                        </ul>
                        <div style="padding-left: 25px; width: 250px; border-radius: 5px;">
                            <button id="but_2"
                                style="height: 40px; width: 250px; background: rgb(241, 77,52); color: white; border: 1px solid rgb(241, 77,52);">СВЯЖИТЕСЬ
                                С НАМИ!</button>
                        </div>
                    </div>
                </div>
                <div class="ui-card"
                    style="width: 600px; height: 500px; background: white; border: 1px solid rgb(126, 125, 125); border-radius: 5px;">
                    <div
                        style="padding: 40px; padding-bottom: 0px; padding-left: 0px; font-size: 10px; border-bottom: 2px solid rgb(175, 164, 164); width: 75%; margin: auto; color: rgb(241, 77,52);">
                        <h1>VIP</h1>
                    </div>
                    <div class="List" style="width: 100%; margin:auto; padding-left: 20px; margin-top: 35px;">
                        <ul
                            style="margin-left: 0px; padding-left: 0px; text-align: left; color:rgb(124, 123, 123); margin-bottom: 35px;">
                            <li><b>Консультации и работы по SEO</b></li>
                            <li><b>Услуги дизайнера</b></li>
                            <li><b>Максимальное время реакции<br>
                                    <span style="padding-left: 26px;">- в день обращения</span></b></li>
                            <li><b>Неиспользованные<br>
                                    <span style="padding-left: 26px;">оплаченные часы не<br></span>
                                    <span style="padding-left: 26px;">переносятся </span></b>
                            </li>
                            <li><b>Предоплата от 270 000 рублей в<br>
                                    <span style="padding-left: 26px;">месяц</span></b></li>
                        </ul>
                        <div style="padding-left: 25px; width: 250px; border-radius: 5px;">
                            <button id="but_3"
                                style="height: 40px; width: 250px; background: white; color: rgb(241, 77,52); border: 1px solid rgb(241, 77,52);">СВЯЖИТЕСЬ
                                С НАМИ!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 500px; margin:auto;">
            <p style="text-align: center; font-size: 14px; color: rgb(133, 129, 129);">Вам не подходят наши тарифы?
                Оставьте заявку и мы <br>
                предложим вам индивидуальные условия!</p>
            <p style="text-align: center; font-size: 16px; color: black;">
                <ins>получить индивидуальные условия</ins>
            </p>
        </div>
    </div>

    <div id="Rate_mob"
        style="padding-top: 30px;font-size: 14px; padding-bottom: 20px; margin-bottom: 40px; background: url(img/Снимок\ экрана\ \(37\).png) no-repeat right; background-size: 400%;">
        <h1 style="text-align: center; font-size: 22px; margin-bottom: 40px;">Тарифы</h1>
        <div class="ui-card_new"
            style="background: white; border: 1px solid rgb(205, 204, 204); border-radius: 2px; margin-bottom: 25px;">
            <div
                style="padding: 40px; padding-bottom: 0px; padding-left: 0px; font-size: 10px; border-bottom: 2px solid rgb(175, 164, 164); width: 75%; margin: auto; color: rgb(241, 77,52);">
                <h1>Стартовый</h1>
            </div>
            <div class="List" style="width: calc(100% - 20px); margin:auto; padding-left: 20px; margin-top: 35px;">
                <ul
                    style="margin-left: 0px; padding-left: 0px; text-align: left; color:rgb(124, 123, 123); margin-bottom: 25px;">
                    <li><b>Консультации и работы по SEO</b></li>
                    <li><b>Услуги дизайнера</b></li>
                    <li><b>Неиспользованные<br>
                            <span style="padding-left: 26px;">оплаченные часы переносятся<br></span>
                            <span style="padding-left: 26px;">на следующий месяц</span></b>
                    </li>
                    <li><b>Предоплата от 6 000 рублей в<br>
                            <span style="padding-left: 26px;">месяц</span></b></li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="border-radius: 5px;">
                    <button
                        style="height: 40px; width: auto; background: white; color: rgb(241, 77,52); border: 1px solid rgb(241, 77,52);">СВЯЖИТЕСЬ
                        С НАМИ!</button>
                </div>
            </div>
        </div>

        <div class="ui-card_new"
            style="background: white; border: 1px solid rgb(205, 204, 204);  border-radius: 2px; margin-bottom: 25px;">
            <div
                style="padding: 40px; padding-bottom: 0px; padding-left: 0px; font-size: 10px; border-bottom: 2px solid rgb(175, 164, 164); width: 75%; margin: auto; color: rgb(241, 77,52);">
                <h1>Бизнес</h1>
            </div>
            <div class="List" style="width: calc(100% - 20px); margin:auto; padding-left: 20px; margin-top: 35px;">
                <ul
                    style="margin-left: 0px; padding-left: 0px; text-align: left; color:rgb(124, 123, 123); margin-bottom: 35px;">
                    <li><b>Консультации и работы по SEO</b></li>
                    <li><b>Услуги дизайнера</b></li>
                    <li><b>Высокое время реакции - до 2<br>
                            <span style="padding-left: 26px;">рабочих дней</span></b></li>
                    <li><b>Неиспользованные<br>
                            <span style="padding-left: 26px;">оплаченные часы не<br></span>
                            <span style="padding-left: 26px;">переносятся</span></b>
                    </li>
                    <li><b>Предоплата от 30 000 рублей в<br>
                            <span style="padding-left: 26px;">месяц</span></b></li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="border-radius: 5px;">
                    <button
                        style="height: 40px; width: auto; background: rgb(241, 77,52); color: white; border: 1px solid rgb(241, 77,52);">СВЯЖИТЕСЬ
                        С НАМИ!</button>
                </div>
            </div>
        </div>

        <div class="ui-card_new"
            style="background: white; border: 1px solid rgb(205, 204, 204);  border-radius: 2px; margin-bottom: 25px;">
            <div
                style="padding: 40px; padding-bottom: 0px; padding-left: 0px; font-size: 10px; border-bottom: 2px solid rgb(175, 164, 164); width: 75%; margin: auto; color: rgb(241, 77,52);">
                <h1>VIP</h1>
            </div>
            <div class="List" style="width: calc(100% - 20px); margin-top: 35px; padding-left: 20px;">
                <ul
                    style="margin-left: 0px; padding-left: 0px; text-align: left; color:rgb(124, 123, 123); margin-bottom: 35px;">
                    <li><b>Консультации и работы по SEO</b></li>
                    <li><b>Услуги дизайнера</b></li>
                    <li><b>Максимальное время реакции<br>
                            <span style="padding-left: 26px;">- в день обращения</span></b></li>
                    <li><b>Неиспользованные<br>
                            <span style="padding-left: 26px;">оплаченные часы не<br></span>
                            <span style="padding-left: 26px;">переносятся </span></b>
                    </li>
                    <li><b>Предоплата от 270 000 рублей в<br>
                            <span style="padding-left: 26px;">месяц</span></b></li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="border-radius: 5px;">
                    <button
                        style="height: 40px; width: auto; background: white; color: rgb(241, 77,52); border: 1px solid rgb(241, 77,52);">СВЯЖИТЕСЬ
                        С НАМИ!</button>
                </div>
            </div>
        </div>

        <div style="width: 90vw; margin:auto;">
            <p style="text-align: center; font-size: 14px; color: rgb(133, 129, 129);">Вам не подходят наши тарифы?
                Оставьте заявку и мы
                предложим вам индивидуальные условия!</p>
            <p style="text-align: center; font-size: 14px; color: black;">
                <ins>получить индивидуальные условия</ins>
            </p>
        </div>
    </div>

    <div id="Razrab">
        <h1>Наши профессиональные разработчики<br>
            выполняют быстро Любые задачи</h1>
        <div id="Quality"> 
            <div class="Quality_elem">
                <div style="background: url(img/icon20.svg)no-repeat left;">
                    <img src="img/competency-20.svg" alt="1" style="padding-left: 45px;">
                </div>
                <div>
                    <p style="font-size: 23px; margin-left: 45px; margin-bottom: 0px; margin-top: 5px;"><b>от 1ч</b></p>
                    <p class="raz_text">
                        Настройка события GA<br>
                        в интернет-магазине</p>
                </div>
            </div>
            <div class="Quality_elem" id="padding_elem_1"> <!--Второй div-->
                <div style="background: url(img/icon20.svg)no-repeat left;">
                    <img src="img/competency-21.svg" alt="1" style="padding-left: 45px;">
                </div>
                <div>
                    <p style="font-size: 23px; margin-left: 45px; margin-bottom: 0px; margin-top: 5px;"><b>от 20ч</b>
                    </p>
                    <p class="raz_text">
                        Разработка мобильной<br>
                        версии сайта</p>
                </div>
            </div>
            <div class="Quality_elem" id="padding_elem_2"> <!--Третий div-->
                <div style="background: url(img/icon20.svg)no-repeat left;">
                    <img src="img/competency-20.svg" alt="1" style="padding-left: 45px;">
                </div>
                <div>
                    <p style="font-size: 23px; margin-left: 45px; margin-bottom: 0px; margin-top: 5px;"><b>от 8ч</b></p>
                    <p class="raz_text">
                        Интеграция<br>
                        модуля оплаты</p>
                </div>
            </div>
        </div>
    </div>

</body>